[submodule "fix"]
	path = fix
	url = https://John.Henderson@vlab.ncep.noaa.gov/code-review/a/GSI-fix

[submodule "libsrc"]
	path = libsrc
	url = https://John.Henderson@vlab.ncep.noaa.gov/code-review/a/GSI-libsrc
